.col-sm-3 {
    padding-left: 12px;
    padding-right: 12px;
}

.box {
    background: white;
}

.trade-info {
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.border {
    padding: 3px;
    background: black;
}

.trade {
    padding: 4px;
}
    .trade:hover {
        background: lightgreen;
        cursor: pointer;
        box-shadow: 1px 1px 6px #666;
    }

    .trade p {
        text-align: center;
        background: lightskyblue;
        margin-bottom: 0 !important;
        font-size: 18px;
    }

    .trade ul {
        list-style: none;
        padding-left: 5px;
        padding-top: 10px;
    }

    .trade hr {
        margin-top: 0;
        margin-bottom: 0;
    }