@model IEnumerable<DayZTradeCenter.DomainModel.Identity.Entities.Messages.Message>

@{
    ViewBag.Title = "Inbox";
}

<h2>Inbox</h2>

<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th class="span1"><input type="checkbox"></th>
            <th class="span2"></th>
            <th class="span9"></th>
            <th class="span2"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var message in Model)
        {
            <tr>
                <td><input type="checkbox"> <a href="#"><i class="icon-star-empty"></i></a></td>
                <td><span class="label pull-right">Notifications</span></td>
                <td><strong>@message.Text</strong></td>
                <td><strong>@message.Timestamp</strong></td>
            </tr>
        }
    </tbody>
</table>