@model IEnumerable<DayZTradeCenter.DomainModel.Entities.Messages.Message>

@{
    ViewBag.Title = "Inbox";
}

<h2>Inbox</h2>

<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th style="width: 4%"><input type="checkbox"></th>
            <th style="width: 76%"></th>
            <th style="width: 20%"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var message in Model)
        {
            <tr>
                <td><input type="checkbox"></td>
                <td><strong>@Html.Raw(message.Text)</strong></td>
                <td style="text-align: center"><strong>@message.Timestamp</strong></td>
            </tr>
        }
    </tbody>
</table>