@{
    ViewBag.Title = "Home Page";
}

<div class="page-header" style="margin-top: 30px">
    <h1>
        Dashboard <small>Admin</small>
    </h1>
</div>

<h3>Coming soon!</h3>

<ul>
    <li>Reports</li>
    <li>Messages</li>
    <li>People</li>
</ul>