@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Realized by Giacomo Righetti<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:dayztradecenter@gmail.com">dayztradecenter@gmail.com</a><br />
    <strong>Blog:</strong>   <a href="http://giacomorighetti.wordpress.com">giacomorighetti.wordpress.com</a><br />
</address>