@model IEnumerable<DayZTradeCenter.UI.Web.Models.TradeDetailsViewModel>

@foreach (var details in Model)
{
    <span>@details.ItemName</span>@:,<span><strong>@details.Quantity</strong></span>
    <button type="button" class="btn btn-default btn-xs btn-track-item" data-info="@details.ItemId">
        @{
            var icon =
                details.IsTracked
                    ? "glyphicon-minus"
                    : "glyphicon-plus";
        }
        <span class="glyphicon @icon"></span>
    </button>
    <br />
}
