@using DayZTradeCenter.UI.Web.Helpers

@{
    ViewBag.Title = "Create";
}

@section styles {
    <link href="~/Content/Selectize/css/selectize.bootstrap3.min.css" rel="stylesheet" />

    <style>
        .col-xs-5 {
            margin-right: -20px;
        }

        .col-xs-2 {
            margin-right: -20px;
        }

        .text-danger {
            margin-left: 10px;
        }
    </style>
}

<h2>Create</h2>

<div class="container" data-bind="visible: true" style="display: none">
    <div class="row">
        <div class="col-md-12">
            <span>Is Hardcore?</span>
            <input type="checkbox" data-bind="checked: isHardcore" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <span>Is Experimental?</span>
            <input type="checkbox" data-bind="checked: isExperimental" />
        </div>
    </div>

    <form class="form-horizontal" style="margin-top: 15px">
        @Html.AntiForgeryToken()

        <fieldset class="col-xs-6">
            <legend>Have</legend>
            <span data-bind="visible: isWithoutHSection">Trades without the H section are not yet supported, <strong>Coming soon!</strong></span>
            <div class="col-xs-12">
                <div data-bind="foreach: have.items">
                    <div class="form-group">
                        <label for="name" class="col-xs-3 control-label">Item #<span data-bind="text: $index() + 1"></span></label>
                        <div class="col-xs-5">
                            <!-- http://brianreavis.github.io/selectize.js/ -->
                            <!-- http://motorscript.com/selectize-js-binding-knockout-js/ -->
                            <select class="form-control" data-bind="selectize: $parent.gameItems, value: id"></select>
                        </div>
                        <div class="col-xs-2">
                            <select data-bind="options: $parent.quantities, value: quantity" class="form-control"></select>
                        </div>
                        <div class="col-xs-2">
                            <select data-bind="options: $parent.conditions, value: condition" class="form-control"></select>
                        </div>
                        <div class="col-xs-1">
                            <button data-bind="click: function(){$parent.have.remove($data)}"
                                    class="btn btn-danger">
                                x
                            </button>
                        </div>
                    </div>
                </div>

                <button data-bind="click: have.add, enable: have.canAdd" class="btn btn-default">Add</button>
                <span class="text-danger" data-bind="visible: !have.canAdd()">Too many items (max. 5)</span>
            </div>
        </fieldset>

        <fieldset class="col-xs-6">
            <legend>Want</legend>
            <span data-bind="visible: isWithoutWSection">Trades without the W section are not yet supported, <strong>Coming soon!</strong></span>
            <div class="col-xs-12">
                <div data-bind="foreach: want.items">
                    <div class="form-group">
                        <label for="name" class="col-xs-3 control-label">Item #<span data-bind="text: $index() + 1"></span></label>
                        <div class="col-xs-5">
                            <select class="form-control" data-bind="selectize: $parent.gameItems, value: id"></select>
                        </div>
                        <div class="col-xs-2">
                            <select data-bind="options: $parent.quantities, value: quantity" class="form-control"></select>
                        </div>
                        <div class="col-xs-2">
                            <select data-bind="options: $parent.conditions, value: condition" class="form-control"></select>
                        </div>
                        <div class="col-xs-1">
                            <button data-bind="click: function(){$parent.want.remove($data)}"
                                    class="btn btn-danger">
                                x
                            </button>
                        </div>
                    </div>
                </div>

                <button data-bind="click: want.add, enable: want.canAdd" class="btn btn-default">Add</button>
                <span class="text-danger" data-bind="visible: !want.canAdd()">Too many items (max. 5)</span>
            </div>
        </fieldset>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="margin-top: 10px">
                <input type="submit" value="Create" class="btn btn-primary" data-bind="click: save, enable: canSave" />
                <span class="text-danger" data-bind="visible: sameItems">It is not possible to create a trade for the same items.</span>
            </div>
        </div>
    </form>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts {
    @Scripts.Render("~/bundles/trades_create")

    <script>
        ko.applyBindings(
            new CreateTradeViewModel(
                @JavaScriptConvert.SerializeObject(ViewBag.Items)));
    </script>
}