@using Microsoft.AspNet.Identity
@model DayZTradeCenter.DomainModel.Trade

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Trade</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
    </dl>
    
    @if (Model.Owner.Id == User.Identity.GetUserId())
    {
        <ul>
            @foreach (var offer in Model.Offers)
            {
                <li>
                    TODO: link to past history, Reputation:
                    @{
                var reputation = offer.GetReputation();
                    }
                    @if (reputation > 0)
                    {
                        if (reputation > 4.5)
                        {
                            <img src="~/Content/img/top_user.png" />
                        }
                        else
                        {
                            @reputation
                        }
                    }
                    else
                    {
                        <img src="~/Content/img/new_user.png" />
                    }
                    |
                    <a href="@Url.Action("ChooseWinner", new {tradeId = Model.Id, userId = offer.Id})">Selects as winner</a>
                </li>
            }
        </ul>
    }
    else if (Model.Winner == User.Identity.GetUserId())
    {
        @: You have won this trade. Congratulations!
    }
    else if (Model.IsClosed)
    {
        @: You have lost this trade. We're sorry for you!
    }
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
