@model DayZTradeCenter.DomainModel.Entities.Trade

@{
    ViewBag.Title = "Trade Completed";
}

<h2>Trade Completed</h2>

Your trade is now completed. Thanks for having used DayZ Trade Center. Remember to leave a feedback!

<br /><br />

@using (Html.BeginForm("LeaveFeedback", "Trades"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.HiddenFor(model => model.Id)
        
        <div class="form-group">
            <label class="control-label col-md-2">Score (1-5)</label>
            <div class="col-md-10">
                <input type="hidden" name="score" id="score">
                <div class="btn-group">
                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">Choose... <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" disabled/>
            </div>
        </div>
    </div>
}

@section scripts {
    @Scripts.Render("~/bundles/tradecompleted")
}