@model IEnumerable<DayZTradeCenter.DomainModel.Entities.ApplicationUser>

@{
    ViewBag.Title = "Index";
}

<h3>
    Be brave!
</h3>
    <h5 style="margin-left: auto; margin-right: auto">
        Try to get involved in <strong>risky</strong> trades, with people with <u>no reputation</u> or with a <u>reputation lower than yours</u>. <br /><br/>
        You'll receive a <strong>+1</strong> Bravery score.
    </h5>

<div id="table">
    @Html.Partial("_PeopleTable", Model)
</div>

@section scripts {
    <script>
        function worker() {
            $.ajax({
                url: '@Url.Action("Index")',
                success: function(data) {
                    $("#table").html(data);
                },
                complete: function() {
                    // Schedule the next request when the current one's complete
                    setTimeout(worker, 20 * 1000); // each 20 sec.
                }
            });
        }

        setTimeout(worker, 5000);
    </script>  
}