@model PagedList.IPagedList<DayZTradeCenter.DomainModel.Entities.Item>

@{
    ViewBag.Title = "Index";
}

@section styles {
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    
    <style>
        .table-btn {
            width: 85px;
        }
    </style>

    <link href="~/Content/alertifyjs/alertify.min.css" rel="stylesheet" />
    <link href="~/Content/alertifyjs/themes/default.min.css" rel="stylesheet" />
}

<h2>Items <small id="totalItemCount">@Model.TotalItemCount</small><small> items found</small></h2>

<div class="container" style="margin-bottom: 25px">
    <a class="btn btn-default" href="@Url.Action("Create")">Add</a>
</div>

<div id="items">
    @Html.Partial("_ItemsTable", Model)
</div>

@section scripts {
    @Scripts.Render("~/bundles/items_index")
}