@using (Html.BeginForm("AdminLogin", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="navbar-right" style="margin-top: 8px">
        <div class="btn-group">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                Admin <span class="caret"></span>
            </button>
            <div class="dropdown-menu">
                <div id="adminLoginMenu" class="col-sm-12">
                    <div class="col-sm-12">
                        Login
                    </div>
                    <div class="col-sm-12">
                        <input type="text" placeholder="Username or Email" class="form-control input-sm" name="username" />
                    </div>
                    <br />
                    <div class="col-sm-12">
                        <input type="password" placeholder="Password" class="form-control input-sm" name="password" />
                    </div>
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-success btn-sm">Log in</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}