@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right" id="navbar-right">
            @Html.Action("InboxPartial", "Profile")
        </ul>
    }
}
else
{
    using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "loginForm" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li><a href="javascript:document.getElementById('loginForm').submit()">Log in</a></li>
        </ul>
    }
}
