@using DayZTradeCenter.DomainModel.Migrations

@{
    ViewBag.Title = "Log in";
}

<style>
    .row {
        margin-top: 20px
    }
</style>

<h2>Log in using your test account</h2>

@using (Html.BeginForm("ExternalLoginCallback", "Account", new { ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    
    <div class="row">
        <div class="col-md-12">
            <section>
                <ul style="list-style-type: none">
                    @foreach (var user in DefaultUsers.All)
                    {
                        <li>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-2">
                                        <button class="btn btn-default"
                                                name="userId"
                                                value="@user.UserId">
                                            @user.UserName
                                        </button>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@user.Description</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </section>
        </div>
    </div>
}