
@{
    ViewBag.Title = "OnlyAlphaTestsAllowed";
}

<h2>Only Alpha Testers Allowed</h2>

<hgroup>
    <h2>We're sorry.</h2>
    <h3>We're in the alpha test phase. Only authorized users can access the DayZ Trade Center.</h3>
</hgroup>