<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.1.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.1.0" targetFramework="net45" />
  <package id="rg.GenericRepository.Core" version="1.0.5377.24759" targetFramework="net45" />
  <package id="rg.TimeProvider" version="1.0.5377.34337" targetFramework="net45" />
</packages>